name: Node.js issue-1119-nvmrc

on:
  push:
    branches:
      - issue-1119-nvmrc

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4.0.3
        with:
          node-version-file: .nvmrc
      - run: npm install
      - run: npm test